<div class="logout">
  <button type="button" (click)="loggout()" class="btn btn-danger">
    Log out
  </button>
</div>

<h4>CRUD Database</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Location</th>
      <th scope="col">Hobby</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crudData of assignData">
      <th scope="row">{{ crudData.id }}</th>
      <td>
        {{ crudData.first }}
      </td>
      <td>{{ crudData.last }}</td>
      <td>{{ crudData.email }}</td>
      <td>{{ crudData.phone }}</td>
      <td>{{ crudData.location }}</td>
      <td>{{ crudData.hobby }}</td>
      <td>
        <div class="buttons">
          <button
            type="button"
            class="btn btn-warning"
            (click)="editItem(crudData)"
          >
            edit
          </button>
          <button
            type="button"
            class="btn btn-danger margin-button"
            (click)="deleteItem(crudData.id)"
          >
            Del
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <button type="button" (click)="downloadFile()" class="btn btn-primary csv">
    Download Csv
  </button>

  <button type="button" (click)="addItem()" class="btn btn-success add">
    Add Item
  </button>
</table>
